openapi: 3.1.0
info:
  title: HENUKit Console Gateway API
  version: 0.1.0
servers:
  - url: https://console.superhuazai.me/api/v1
tags:
  - name: Console Authentication
    description: Console-local authorization-code flow and Session boundary.
  - name: Platform Operations
    description: Bounded account, Session, mail, Inbox, audit, and dependency operations.
  - name: Notice
    description: Permission-checked forwarding to the Notice data owner.
  - name: Library
    description: Permission-checked forwarding to the bounded Library Compatibility Adapter.
  - name: Food
    description: Permission-checked forwarding to the Food-owned operations API.
paths:
  /healthz:
    get:
      tags: [Console Authentication]
      operationId: getConsoleGatewayHealth
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Gateway process is alive
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [ok]
                        properties:
                          ok:
                            type: boolean
                            const: true
  /auth/login:
    get:
      tags: [Console Authentication]
      operationId: beginConsoleLogin
      summary: Start the Platform Core authorization-code flow
      security: []
      parameters:
        - name: return_to
          in: query
          required: false
          schema:
            type: string
            format: uri-reference
            pattern: '^/(?!/)[^\\\r\n]*$'
            default: /
      responses:
        "302":
          description: Redirect to the Platform Core account origin
          headers:
            Location:
              required: true
              schema:
                type: string
                format: uri
            Set-Cookie:
              required: true
              description: Short-lived host-only HttpOnly Secure SameSite=Lax browser-binding cookie.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /auth/callback:
    get:
      tags: [Console Authentication]
      operationId: completeConsoleLogin
      summary: Consume one authorization code and establish the Console Session
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
            minLength: 16
        - name: state
          in: query
          required: true
          schema:
            type: string
            minLength: 32
      responses:
        "302":
          description: Console Session established and redirected to the stored same-origin path
          headers:
            Location:
              required: true
              schema:
                type: string
            Set-Cookie:
              required: true
              description: Clears the browser-binding cookie and establishes the host-only HttpOnly Secure SameSite=Lax Console Session cookie.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /session:
    get:
      tags: [Console Authentication]
      operationId: getConsoleSession
      summary: Return a server-verified Console Access Context
      description: The Gateway checks permission and Scope with Platform Core on every request and defaults to deny.
      security:
        - consoleSession: []
      responses:
        "200":
          description: Active Console Session and verified access context
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ConsoleSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /overview:
    get:
      tags: [Console Authentication]
      operationId: getConsoleOverview
      summary: Aggregate six bounded product-module summaries
      description: Runs all module reads concurrently, returns partial results, and labels cached fallback data as stale.
      security:
        - consoleSession: []
      responses:
        "200":
          description: Six module results, including honest degradation states
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ConsoleOverview"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /operations:
    get:
      tags: [Platform Operations]
      operationId: getConsolePlatformOperations
      summary: Read the bounded Platform Operations workspace
      description: Platform Core rechecks platform.operations.read with platform Scope. Sensitive mail and Session fields are excluded.
      security:
        - consoleSession: []
      responses:
        "200":
          description: Operational metadata
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PlatformOperationsSnapshot" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /operations/sessions/{session_id}/revocations:
    post:
      tags: [Platform Operations]
      operationId: revokeConsolePlatformSession
      summary: Revoke one active Platform Session
      security:
        - consoleSession: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: "#/components/parameters/RequiredIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RevokePlatformSessionRequest" }
      responses:
        "200":
          description: Session revoked or original idempotent result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PlatformOperationResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /operations/users/{user_id}/access-updates:
    post:
      tags: [Platform Operations]
      operationId: updateConsolePlatformAccess
      summary: Replace one account's status, roles, and Scope grants
      security:
        - consoleSession: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: "#/components/parameters/RequiredIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdatePlatformAccessRequest" }
      responses:
        "200":
          description: Access updated or original idempotent result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PlatformOperationResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /operations/results/{operation}:
    get:
      tags: [Platform Operations]
      operationId: getConsolePlatformOperationStatus
      summary: Resolve a possibly unknown write outcome
      security:
        - consoleSession: []
      parameters:
        - name: operation
          in: path
          required: true
          schema: { type: string, enum: [session_revoke, access_update] }
        - $ref: "#/components/parameters/RequiredIdempotencyKey"
      responses:
        "200":
          description: Succeeded or unknown result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/PlatformOperationResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /session/logout:
    post:
      tags: [Console Authentication]
      operationId: logoutConsoleSession
      summary: Clear the local Console Session
      security: []
      responses:
        "204":
          description: Session cookie cleared
          headers:
            Set-Cookie:
              required: true
              schema:
                type: string
  /notices:
    get:
      tags: [Notice]
      operationId: getConsoleNotices
      summary: Read the bounded Notice lifecycle snapshot
      security: [{ consoleSession: [] }]
      responses:
        "200":
          description: Notice-owned lifecycle data
          content: { application/json: { schema: { allOf: [{ $ref: "#/components/schemas/SuccessEnvelope" }, { type: object, properties: { data: { $ref: "#/components/schemas/NoticeSnapshot" } } }] } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /notices/sources:
    post:
      tags: [Notice]
      operationId: createConsoleNoticeSource
      summary: Create a Notice source through its owner
      security: [{ consoleSession: [] }]
      parameters: [{ $ref: "#/components/parameters/RequiredIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreateNoticeSourceRequest" } } } }
      responses:
        "200": { description: Source created, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /notices/sources/{source_id}/versions:
    post:
      tags: [Notice]
      operationId: createConsoleNoticeVersion
      summary: Create an immutable Notice version through its owner
      security: [{ consoleSession: [] }]
      parameters:
        - { name: source_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/RequiredIdempotencyKey" }
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CreateNoticeVersionRequest" } } } }
      responses:
        "200": { description: Version created, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /notices/versions/{version_id}/reviews:
    post:
      tags: [Notice]
      operationId: reviewConsoleNoticeVersion
      summary: Review a Notice version through its owner
      security: [{ consoleSession: [] }]
      parameters:
        - { name: version_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/RequiredIdempotencyKey" }
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/NoticeReviewRequest" } } } }
      responses:
        "200": { description: Review recorded, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /notices/versions/{version_id}/distributions:
    post:
      tags: [Notice]
      operationId: distributeConsoleNoticeVersion
      summary: Queue an approved Notice version for an audience
      security: [{ consoleSession: [] }]
      parameters:
        - { name: version_id, in: path, required: true, schema: { type: string, format: uuid } }
        - { $ref: "#/components/parameters/RequiredIdempotencyKey" }
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/NoticeDistributionRequest" } } } }
      responses:
        "200": { description: Distribution queued, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /notices/operations/{operation}:
    get:
      tags: [Notice]
      operationId: getConsoleNoticeOperationStatus
      summary: Resolve a possibly unknown Notice write
      security: [{ consoleSession: [] }]
      parameters:
        - { name: operation, in: path, required: true, schema: { type: string, enum: [source_create, version_create, review, distribution] } }
        - { $ref: "#/components/parameters/RequiredIdempotencyKey" }
      responses:
        "200": { description: Original result or unknown, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /library:
    get:
      tags: [Library]
      operationId: getConsoleLibraryWorkspace
      summary: Read the bounded Library workspace
      security: [{ consoleSession: [] }]
      responses:
        "200":
          description: Confirmed Library data with explicit legacy degradation
          content: { application/json: { schema: { allOf: [{ $ref: "#/components/schemas/SuccessEnvelope" }, { type: object, properties: { data: { $ref: "#/components/schemas/LibraryWorkspace" } } }] } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /library/commands:
    post:
      tags: [Library]
      operationId: executeConsoleLibraryCommand
      summary: Execute one allowlisted Library command
      security: [{ consoleSession: [] }]
      parameters: [{ $ref: "#/components/parameters/RequiredIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/LibraryCommand" } } } }
      responses:
        "200": { description: Original or newly completed operation, content: { application/json: { schema: { allOf: [{ $ref: "#/components/schemas/SuccessEnvelope" }, { type: object, properties: { data: { $ref: "#/components/schemas/LibraryOperationResult" } } }] } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /library/operations/{operation}:
    get:
      tags: [Library]
      operationId: getConsoleLibraryOperationStatus
      summary: Resolve a possibly unknown Library write
      security: [{ consoleSession: [] }]
      parameters:
        - { name: operation, in: path, required: true, schema: { $ref: "#/components/schemas/LibraryCommandKind" } }
        - { $ref: "#/components/parameters/RequiredIdempotencyKey" }
      responses:
        "200": { description: Original result or unknown state, content: { application/json: { schema: { allOf: [{ $ref: "#/components/schemas/SuccessEnvelope" }, { type: object, properties: { data: { $ref: "#/components/schemas/LibraryOperationResult" } } }] } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /food:
    get:
      tags: [Food]
      operationId: getConsoleFoodWorkspace
      summary: Read the bounded Food operations workspace
      security: [{ consoleSession: [] }]
      responses:
        "200": { description: Food-owned operation data, content: { application/json: { schema: { allOf: [{ $ref: "#/components/schemas/SuccessEnvelope" }, { type: object, properties: { data: { $ref: "#/components/schemas/FoodWorkspace" } } }] } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /food/commands:
    post:
      tags: [Food]
      operationId: executeConsoleFoodCommand
      summary: Execute one allowlisted Food operation
      security: [{ consoleSession: [] }]
      parameters: [{ $ref: "#/components/parameters/RequiredIdempotencyKey" }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/FoodCommand" } } } }
      responses:
        "200": { description: Original or newly completed operation, content: { application/json: { schema: { allOf: [{ $ref: "#/components/schemas/SuccessEnvelope" }, { type: object, properties: { data: { $ref: "#/components/schemas/FoodOperationResult" } } }] } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /food/operations/{operation}:
    get:
      tags: [Food]
      operationId: getConsoleFoodOperationStatus
      summary: Resolve a possibly unknown Food write
      security: [{ consoleSession: [] }]
      parameters:
        - { name: operation, in: path, required: true, schema: { $ref: "#/components/schemas/FoodCommandKind" } }
        - { $ref: "#/components/parameters/RequiredIdempotencyKey" }
      responses:
        "200": { description: Original result or unknown state, content: { application/json: { schema: { allOf: [{ $ref: "#/components/schemas/SuccessEnvelope" }, { type: object, properties: { data: { $ref: "#/components/schemas/FoodOperationResult" } } }] } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
components:
  parameters:
    RequiredIdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, minLength: 8, maxLength: 200 }
  securitySchemes:
    consoleSession:
      type: apiKey
      in: cookie
      name: __Host-henukit_console_session
  schemas:
    SuccessEnvelope:
      type: object
      required: [data, request_id]
      properties:
        data: {}
        request_id:
          type: string
          maxLength: 100
          pattern: '^req_[A-Za-z0-9_-]+$'
    ErrorObject:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
    ErrorEnvelope:
      type: object
      required: [error, request_id]
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"
        request_id:
          type: string
          maxLength: 100
          pattern: '^req_[A-Za-z0-9_-]+$'
    ConsoleSession:
      type: object
      additionalProperties: false
      example:
        user:
          id: 171f1c6f-7b10-4c92-91a2-b39bf5af5302
        access_context:
          permissions: [console.overview.read]
          scopes: [{ kind: platform }]
          verified_at: "2026-07-19T00:00:00Z"
        expires_at: "2026-07-19T00:05:00Z"
      x-invalid-example:
        user:
          id: not-a-uuid
        expires_at: "not-a-date"
      required: [user, access_context, expires_at]
      properties:
        user:
          type: object
          additionalProperties: false
          required: [id]
          properties:
            id:
              type: string
              format: uuid
        access_context:
          $ref: "#/components/schemas/ConsoleAccessContext"
        expires_at:
          type: string
          format: date-time
    ConsoleAccessContext:
      type: object
      additionalProperties: false
      required: [permissions, scopes, verified_at]
      properties:
        permissions:
          type: array
          items:
            type: string
          example: [console.overview.read]
        scopes:
          type: array
          items:
            $ref: "#/components/schemas/ConsoleScope"
        verified_at:
          type: string
          format: date-time
    ConsoleScope:
      type: object
      additionalProperties: false
      required: [kind]
      properties:
        kind:
          type: string
          enum: [platform, product]
        product_code:
          type: string
          minLength: 1
          maxLength: 80
      allOf:
        - if:
            properties: { kind: { const: product } }
            required: [kind]
          then:
            required: [product_code]
            properties:
              product_code: { type: string, minLength: 1, maxLength: 80 }
    CreateNoticeSourceRequest:
      type: object
      additionalProperties: false
      required: [code, name, canonical_url]
      properties:
        code: { type: string, pattern: '^[a-z0-9][a-z0-9-]{1,62}$' }
        name: { type: string, minLength: 1, maxLength: 120 }
        canonical_url: { type: string, format: uri, pattern: '^https://' }
    CreateNoticeVersionRequest:
      type: object
      additionalProperties: false
      required: [title, body, source_url]
      properties:
        title: { type: string, minLength: 1, maxLength: 200 }
        body: { type: string, minLength: 1, maxLength: 100000 }
        source_url: { type: string, format: uri, pattern: '^https://' }
        source_published_at: { type: string, format: date-time }
    NoticeReviewRequest:
      type: object
      additionalProperties: false
      required: [decision, expected_revision]
      properties:
        decision: { type: string, enum: [approved, rejected] }
        note: { type: string, maxLength: 1000 }
        expected_revision: { type: integer, minimum: 1 }
    NoticeAudience:
      type: object
      additionalProperties: false
      properties:
        kind: { type: string, enum: [all_students, college, role] }
        value: { type: string, minLength: 1, maxLength: 120 }
      anyOf:
        - type: object
          additionalProperties: false
          required: [kind]
          properties: { kind: { type: string, enum: [all_students] } }
        - type: object
          additionalProperties: false
          required: [kind, value]
          properties:
            kind: { type: string, enum: [college, role] }
            value: { type: string, minLength: 1, maxLength: 120 }
    NoticeDistributionRequest:
      type: object
      additionalProperties: false
      required: [channel, audience, expected_revision]
      properties:
        channel: { type: string, enum: [in_app, email] }
        audience: { $ref: "#/components/schemas/NoticeAudience" }
        expected_revision: { type: integer, minimum: 1 }
      example: { channel: email, audience: { kind: college, value: software-college }, expected_revision: 2 }
      x-invalid-example: { channel: email, audience: { kind: all_students, value: forbidden }, expected_revision: 2 }
    NoticeSource:
      type: object
      additionalProperties: false
      required: [id, code, name]
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        name: { type: string }
    NoticeVersion:
      type: object
      additionalProperties: false
      required: [id, source, version, title, body, source_url, content_hash, state, revision, created_at, distribution_count]
      properties:
        id: { type: string, format: uuid }
        source: { $ref: "#/components/schemas/NoticeSource" }
        version: { type: integer, minimum: 1 }
        title: { type: string }
        body: { type: string }
        source_url: { type: string, format: uri }
        content_hash: { type: string, pattern: '^[a-f0-9]{64}$' }
        state: { type: string, enum: [pending_review, approved, rejected, distributed] }
        revision: { type: integer, minimum: 1 }
        source_published_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
        distribution_count: { type: integer, minimum: 0 }
        distribution_status: { type: string, enum: [queued, processing, delivered, failed] }
    NoticeSnapshot:
      type: object
      additionalProperties: false
      required: [items, generated_at]
      properties:
        items: { type: array, maxItems: 50, items: { $ref: "#/components/schemas/NoticeVersion" } }
        generated_at: { type: string, format: date-time }
    FoodWorkspace:
      type: object
      additionalProperties: false
      required: [status, status_message, stale, as_of, submissions, anomaly_tickets, tier_adjustments]
      properties:
        status: { type: string, enum: [ok, empty, stale] }
        status_message: { type: string, maxLength: 240 }
        stale: { type: boolean }
        as_of: { type: string, format: date-time }
        submissions: { type: array, maxItems: 200, items: { $ref: "#/components/schemas/FoodSubmission" } }
        anomaly_tickets: { type: array, maxItems: 200, items: { $ref: "#/components/schemas/FoodAnomalyTicket" } }
        tier_adjustments: { type: array, maxItems: 200, items: { $ref: "#/components/schemas/FoodTierAdjustment" } }
    FoodSubmission:
      type: object
      additionalProperties: false
      required: [id, venue_name, item_name, description, status, version, submitted_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        venue_name: { type: string, maxLength: 160 }
        item_name: { type: string, maxLength: 160 }
        description: { type: string, maxLength: 2000 }
        status: { type: string, enum: [pending, approved, rejected] }
        version: { type: integer, minimum: 1 }
        submitted_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    FoodAnomalyTicket:
      type: object
      additionalProperties: false
      required: [id, venue_name, kind, details, severity, status, version, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        venue_name: { type: string, maxLength: 160 }
        kind: { type: string, enum: [duplicate, spam, quality, location] }
        details: { type: string, maxLength: 2000 }
        severity: { type: string, enum: [low, medium, high] }
        status: { type: string, enum: [open, resolved, dismissed] }
        version: { type: integer, minimum: 1 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    FoodTierAdjustment:
      type: object
      additionalProperties: false
      required: [id, venue_name, current_tier, proposed_tier, reason, status, version, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        venue_name: { type: string, maxLength: 160 }
        current_tier: { type: string, enum: [featured, recommended, standard, watch] }
        proposed_tier: { type: string, enum: [featured, recommended, standard, watch] }
        reason: { type: string, maxLength: 2000 }
        status: { type: string, enum: [pending, confirmed, rejected] }
        version: { type: integer, minimum: 1 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    FoodCommandKind:
      type: string
      enum: [submission_approve, submission_reject, anomaly_resolve, anomaly_dismiss, tier_adjustment_confirm, tier_adjustment_reject]
    FoodCommand:
      type: object
      additionalProperties: false
      required: [kind, resource_id, expected_version, payload]
      properties:
        kind: { $ref: "#/components/schemas/FoodCommandKind" }
        resource_id: { type: string, format: uuid }
        expected_version: { type: integer, minimum: 1 }
        payload:
          type: object
          additionalProperties: false
          required: [note]
          properties: { note: { type: string, minLength: 2, maxLength: 1000 } }
      example: { kind: submission_approve, resource_id: 11111111-1111-4111-8111-111111111111, expected_version: 1, payload: { note: checked } }
      x-invalid-example: { kind: submission_approve, resource_id: 11111111-1111-4111-8111-111111111111, expected_version: 1, payload: { paymentId: hidden } }
    FoodOperationResult:
      type: object
      additionalProperties: false
      required: [operation, state]
      properties:
        operation: { $ref: "#/components/schemas/FoodCommandKind" }
        resource_id: { type: string, format: uuid }
        state: { type: string, enum: [succeeded, unknown] }
        version: { type: integer, minimum: 1 }
    LibraryWorkspace:
      type: object
      additionalProperties: false
      required: [status, status_message, degraded, courses, materials, downloads, submissions, corrections, generated_at]
      properties:
        status: { type: string, enum: [ok, partial, unavailable] }
        status_message: { type: string, maxLength: 240 }
        degraded: { type: boolean }
        courses: { type: array, maxItems: 500, items: { $ref: "#/components/schemas/LibraryCourse" } }
        materials: { type: array, maxItems: 500, items: { $ref: "#/components/schemas/LibraryMaterial" } }
        downloads: { type: array, maxItems: 200, items: { $ref: "#/components/schemas/LibraryDownload" } }
        submissions: { type: array, maxItems: 500, items: { $ref: "#/components/schemas/LibraryMaterial" } }
        corrections: { type: array, maxItems: 500, items: { $ref: "#/components/schemas/LibraryCorrection" } }
        generated_at: { type: string, format: date-time }
    LibraryCourse:
      type: object
      additionalProperties: false
      required: [id, name, slug, grade, status, updated_at]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, maxLength: 160 }
        slug: { type: string, maxLength: 160 }
        grade: { type: string, maxLength: 32 }
        status: { type: string, enum: [draft, published, archived] }
        updated_at: { type: string, format: date-time }
    LibraryMaterial:
      type: object
      additionalProperties: false
      required: [id, course_id, title, type, file_name, file_size, access_level, status, updated_at]
      properties:
        id: { type: string, format: uuid }
        course_id: { type: string, format: uuid }
        title: { type: string, maxLength: 200 }
        type: { type: string, enum: [knowledge_note, mock_paper, answer, quick_review, past_exam, other] }
        file_name: { type: string, maxLength: 255 }
        file_size: { type: integer, minimum: 0 }
        access_level: { type: string, enum: [public, authenticated, restricted] }
        status: { type: string, enum: [draft, pending, published, rejected, archived] }
        updated_at: { type: string, format: date-time }
    LibraryDownload:
      type: object
      additionalProperties: false
      required: [id, material_id, material_title, access_level, downloaded_at]
      properties:
        id: { type: string, format: uuid }
        material_id: { type: string, format: uuid }
        material_title: { type: string, maxLength: 200 }
        access_level: { type: string, enum: [public, authenticated, restricted] }
        downloaded_at: { type: string, format: date-time }
    LibraryCorrection:
      type: object
      additionalProperties: false
      required: [id, target_type, target_id, reason, description, status, updated_at]
      properties:
        id: { type: string, format: uuid }
        target_type: { type: string, enum: [course, material] }
        target_id: { type: string, format: uuid }
        reason: { type: string, maxLength: 120 }
        description: { type: string, maxLength: 2000 }
        status: { type: string, enum: [pending, approved, rejected] }
        updated_at: { type: string, format: date-time }
    LibraryCommandKind:
      type: string
      enum: [course_create, course_update, course_archive, material_create, material_update, material_archive, submission_approve, submission_reject, correction_resolve, correction_reject]
    LibraryCommand:
      oneOf:
        - $ref: "#/components/schemas/CourseCreateCommand"
        - $ref: "#/components/schemas/CourseUpdateCommand"
        - $ref: "#/components/schemas/CourseArchiveCommand"
        - $ref: "#/components/schemas/MaterialCreateCommand"
        - $ref: "#/components/schemas/MaterialUpdateCommand"
        - $ref: "#/components/schemas/MaterialArchiveCommand"
        - $ref: "#/components/schemas/SubmissionReviewCommand"
        - $ref: "#/components/schemas/CorrectionReviewCommand"
      example: { kind: submission_approve, resource_id: 22222222-2222-4222-8222-222222222222, expected_version: "2026-07-19T00:00:00Z", payload: { reviewReason: checked } }
      x-invalid-example: { kind: material_update, resource_id: 22222222-2222-4222-8222-222222222222, expected_version: "2026-07-19T00:00:00Z", payload: { paymentId: hidden-order } }
    CourseCreateCommand:
      type: object
      additionalProperties: false
      required: [kind, payload]
      properties:
        kind: { type: string, const: course_create }
        payload: { $ref: "#/components/schemas/CourseCreatePayload" }
    CourseUpdateCommand:
      type: object
      additionalProperties: false
      required: [kind, resource_id, expected_version, payload]
      properties:
        kind: { type: string, const: course_update }
        resource_id: { type: string, format: uuid }
        expected_version: { type: string, format: date-time }
        payload: { $ref: "#/components/schemas/CourseMutationPayload" }
    CourseArchiveCommand:
      type: object
      additionalProperties: false
      required: [kind, resource_id, expected_version, payload]
      properties:
        kind: { type: string, const: course_archive }
        resource_id: { type: string, format: uuid }
        expected_version: { type: string, format: date-time }
        payload: { $ref: "#/components/schemas/EmptyPayload" }
    MaterialCreateCommand:
      type: object
      additionalProperties: false
      required: [kind, payload]
      properties:
        kind: { type: string, const: material_create }
        payload: { $ref: "#/components/schemas/MaterialCreatePayload" }
    MaterialUpdateCommand:
      type: object
      additionalProperties: false
      required: [kind, resource_id, expected_version, payload]
      properties:
        kind: { type: string, const: material_update }
        resource_id: { type: string, format: uuid }
        expected_version: { type: string, format: date-time }
        payload: { $ref: "#/components/schemas/MaterialUpdatePayload" }
    MaterialArchiveCommand:
      type: object
      additionalProperties: false
      required: [kind, resource_id, expected_version, payload]
      properties:
        kind: { type: string, const: material_archive }
        resource_id: { type: string, format: uuid }
        expected_version: { type: string, format: date-time }
        payload: { $ref: "#/components/schemas/EmptyPayload" }
    SubmissionReviewCommand:
      type: object
      additionalProperties: false
      required: [kind, resource_id, expected_version, payload]
      properties:
        kind: { type: string, enum: [submission_approve, submission_reject] }
        resource_id: { type: string, format: uuid }
        expected_version: { type: string, format: date-time }
        payload: { $ref: "#/components/schemas/ReviewPayload" }
    CorrectionReviewCommand:
      type: object
      additionalProperties: false
      required: [kind, resource_id, expected_version, payload]
      properties:
        kind: { type: string, enum: [correction_resolve, correction_reject] }
        resource_id: { type: string, format: uuid }
        expected_version: { type: string, format: date-time }
        payload: { $ref: "#/components/schemas/ReviewPayload" }
    CourseCreatePayload:
      type: object
      additionalProperties: false
      required: [schoolId, collegeId, majorId, grade, name, slug]
      maxProperties: 9
      properties:
        schoolId: { type: string, format: uuid }
        collegeId: { type: string, format: uuid }
        majorId: { type: string, format: uuid }
        grade: { type: string, maxLength: 32 }
        name: { type: string, maxLength: 160 }
        slug: { type: string, maxLength: 160 }
        description: { type: string, maxLength: 4000 }
        examScope: { type: string, maxLength: 2000 }
        status: { type: string, enum: [draft, published, archived] }
    CourseMutationPayload:
      type: object
      additionalProperties: false
      maxProperties: 9
      properties:
        schoolId: { type: string, format: uuid }
        collegeId: { type: string, format: uuid }
        majorId: { type: string, format: uuid }
        grade: { type: string, maxLength: 32 }
        name: { type: string, maxLength: 160 }
        slug: { type: string, maxLength: 160 }
        description: { type: string, maxLength: 4000 }
        examScope: { type: string, maxLength: 2000 }
        status: { type: string, enum: [draft, published, archived] }
    MaterialCreatePayload:
      type: object
      additionalProperties: false
      required: [courseId, title, storageKey]
      maxProperties: 10
      properties:
        courseId: { type: string, format: uuid }
        title: { type: string, maxLength: 200 }
        type: { type: string, enum: [knowledge_note, mock_paper, answer, quick_review, past_exam, other] }
        description: { type: string, maxLength: 4000 }
        storageKey: { type: string, maxLength: 512 }
        fileName: { type: string, maxLength: 255 }
        fileSize: { type: integer, minimum: 0 }
        previewContent: { type: string, maxLength: 20000 }
        accessLevel: { type: string, enum: [free, login_required] }
        status: { type: string, enum: [draft, pending, published, rejected, archived] }
    MaterialUpdatePayload:
      type: object
      additionalProperties: false
      maxProperties: 7
      properties:
        courseId: { type: string, format: uuid }
        title: { type: string, maxLength: 200 }
        type: { type: string, enum: [knowledge_note, mock_paper, answer, quick_review, past_exam, other] }
        description: { type: string, maxLength: 4000 }
        previewContent: { type: string, maxLength: 20000 }
        accessLevel: { type: string, enum: [free, login_required] }
        status: { type: string, enum: [draft, pending, published, rejected, archived] }
    ReviewPayload:
      type: object
      additionalProperties: false
      properties:
        reviewReason: { type: string, maxLength: 1000 }
    EmptyPayload:
      type: object
      additionalProperties: false
      maxProperties: 0
    LibraryOperationResult:
      type: object
      additionalProperties: false
      required: [operation, state]
      properties:
        operation: { $ref: "#/components/schemas/LibraryCommandKind" }
        resource_id: { type: string, format: uuid }
        state: { type: string, enum: [succeeded, unknown] }
    ConsoleOverview:
      type: object
      additionalProperties: false
      required: [modules, generated_at]
      properties:
        modules:
          type: array
          minItems: 6
          maxItems: 6
          items:
            $ref: "#/components/schemas/ConsoleModuleSummary"
          allOf:
            - contains: { type: object, required: [id], properties: { id: { const: portal } } }
              minContains: 1
              maxContains: 1
            - contains: { type: object, required: [id], properties: { id: { const: platform } } }
              minContains: 1
              maxContains: 1
            - contains: { type: object, required: [id], properties: { id: { const: notice } } }
              minContains: 1
              maxContains: 1
            - contains: { type: object, required: [id], properties: { id: { const: library } } }
              minContains: 1
              maxContains: 1
            - contains: { type: object, required: [id], properties: { id: { const: quizcraft } } }
              minContains: 1
              maxContains: 1
            - contains: { type: object, required: [id], properties: { id: { const: food } } }
              minContains: 1
              maxContains: 1
        generated_at:
          type: string
          format: date-time
      example:
        modules:
          - id: portal
            status: ok
            metrics: [{ label: 部署版本, value: "2026.07.19" }]
            status_message: 摘要可用
            as_of: "2026-07-19T01:00:00Z"
            request_id: req_portal_example
          - { id: platform, status: empty, metrics: [], status_message: 当前无待办, as_of: "2026-07-19T01:00:00Z", request_id: req_platform_example }
          - { id: notice, status: unavailable, metrics: [], status_message: 摘要暂不可用, request_id: req_notice_example }
          - { id: library, status: stale, metrics: [], status_message: 展示最近成功摘要, as_of: "2026-07-19T00:58:00Z", last_success_at: "2026-07-19T00:58:05Z", request_id: req_library_example }
          - { id: quizcraft, status: partial, metrics: [], status_message: 部分来源可用, as_of: "2026-07-19T01:00:00Z", request_id: req_quizcraft_example }
          - { id: food, status: ok, metrics: [], status_message: 摘要可用, as_of: "2026-07-19T01:00:00Z", request_id: req_food_example }
        generated_at: "2026-07-19T01:00:01Z"
      x-invalid-example:
        modules:
          - { id: portal, status: stale, metrics: [], status_message: 缺少 stale 时间戳, request_id: req_duplicate_1 }
          - { id: portal, status: ok, metrics: [], status_message: 重复模块, as_of: "2026-07-19T01:00:00Z", request_id: req_duplicate_2 }
          - { id: portal, status: ok, metrics: [], status_message: 重复模块, as_of: "2026-07-19T01:00:00Z", request_id: req_duplicate_3 }
          - { id: portal, status: ok, metrics: [], status_message: 重复模块, as_of: "2026-07-19T01:00:00Z", request_id: req_duplicate_4 }
          - { id: portal, status: ok, metrics: [], status_message: 重复模块, as_of: "2026-07-19T01:00:00Z", request_id: req_duplicate_5 }
          - { id: portal, status: ok, metrics: [], status_message: 重复模块, as_of: "2026-07-19T01:00:00Z", request_id: req_duplicate_6 }
        generated_at: "2026-07-19T01:00:01Z"
    ConsoleModuleSummary:
      type: object
      additionalProperties: false
      anyOf:
        - required: [as_of, last_success_at]
          properties:
            as_of: {}
            last_success_at: {}
        - required: [status]
          properties:
            status:
              type: string
              enum: [ok, empty, partial, unavailable]
      required: [id, status, metrics, status_message, request_id]
      properties:
        id:
          type: string
          enum: [portal, platform, notice, library, quizcraft, food]
        status:
          type: string
          enum: [ok, empty, partial, stale, unavailable]
        metrics:
          type: array
          maxItems: 8
          items:
            $ref: "#/components/schemas/ConsoleModuleMetric"
        status_message:
          type: string
          maxLength: 240
        as_of:
          type: string
          format: date-time
        last_success_at:
          type: string
          format: date-time
        request_id:
          type: string
          maxLength: 120
          pattern: '^req_[A-Za-z0-9_-]+$'
    ConsoleModuleMetric:
      type: object
      additionalProperties: false
      required: [label, value]
      properties:
        label: { type: string, maxLength: 40 }
        value: { type: string, maxLength: 80 }
        hint: { type: string, maxLength: 120 }
    PlatformOperationsSnapshot:
      type: object
      additionalProperties: false
      required: [access_context, accounts, sessions, mail, inbox_items, audit, dependencies, generated_at]
      properties:
        access_context: { $ref: "#/components/schemas/ConsoleAccessContext" }
        accounts: { type: array, maxItems: 20, items: { $ref: "#/components/schemas/PlatformOperationsAccount" } }
        sessions: { type: array, maxItems: 20, items: { $ref: "#/components/schemas/PlatformOperationsSession" } }
        mail: { $ref: "#/components/schemas/PlatformOperationsMailStatus" }
        inbox_items: { type: array, maxItems: 20, items: { $ref: "#/components/schemas/PlatformOperationsInboxItem" } }
        audit: { type: array, maxItems: 20, items: { $ref: "#/components/schemas/PlatformOperationsAuditEvent" } }
        dependencies: { $ref: "#/components/schemas/PlatformOperationsDependencies" }
        generated_at: { type: string, format: date-time }
    PlatformOperationsAccount:
      type: object
      additionalProperties: false
      required: [id, email_verified, status, authorization_revision, created_at, grants]
      properties:
        id: { type: string, format: uuid }
        email_verified: { type: boolean }
        status: { type: string, enum: [active, suspended, deleted] }
        authorization_revision: { type: integer, format: int64, minimum: 1 }
        created_at: { type: string, format: date-time }
        grants: { type: array, maxItems: 50, items: { $ref: "#/components/schemas/PlatformAccessGrantInput" } }
    PlatformScope:
      type: object
      additionalProperties: false
      required: [kind]
      properties:
        kind: { type: string, enum: [platform, product, resource] }
        product_code: { type: string }
        resource_type: { type: string }
        resource_id: { type: string }
    PlatformAccessGrantInput:
      type: object
      additionalProperties: false
      required: [role_code, scope]
      properties:
        role_code: { type: string, pattern: '^[a-z][a-z0-9-]{1,63}$' }
        scope: { $ref: "#/components/schemas/PlatformScope" }
    PlatformOperationsSession:
      type: object
      additionalProperties: false
      required: [id, user_id, kind, last_seen_at, expires_at]
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        kind: { type: string, enum: [core, client_exchange] }
        client_id: { type: string }
        last_seen_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        revoked_at: { type: string, format: date-time }
    PlatformOperationsMailStatus:
      type: object
      additionalProperties: false
      required: [pending, processing, retry_due, accepted, delivered, failed, dead_letters]
      properties:
        pending: { type: integer, minimum: 0 }
        processing: { type: integer, minimum: 0 }
        retry_due: { type: integer, minimum: 0 }
        accepted: { type: integer, minimum: 0 }
        delivered: { type: integer, minimum: 0 }
        failed: { type: integer, minimum: 0 }
        dead_letters: { type: integer, minimum: 0 }
    PlatformOperationsInboxItem:
      type: object
      additionalProperties: false
      required: [id, source_product_code, source_resource_type, source_resource_id, priority, status, version, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        source_product_code: { type: string }
        source_resource_type: { type: string }
        source_resource_id: { type: string }
        source_resource_url: { type: string, format: uri }
        owner_user_id: { type: string, format: uuid }
        priority: { type: string, enum: [low, normal, high, urgent] }
        sla_due_at: { type: string, format: date-time }
        status: { type: string, enum: [open, in_progress, blocked, resolved, archived] }
        version: { type: integer, minimum: 1 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    PlatformOperationsAuditEvent:
      type: object
      additionalProperties: false
      required: [request_id, actor_user_id, permission_code, target_kind, decision, reason_code, created_at]
      properties:
        request_id: { type: string }
        actor_user_id: { type: string, format: uuid }
        permission_code: { type: string }
        target_kind: { type: string, enum: [platform, product, resource] }
        target_product_code: { type: string }
        target_resource_type: { type: string }
        target_resource_id: { type: string }
        decision: { type: string, enum: [allowed, denied] }
        reason_code: { type: string }
        created_at: { type: string, format: date-time }
    PlatformOperationsDependencies:
      type: object
      additionalProperties: false
      required: [postgres, redis]
      properties:
        postgres: { type: string, enum: [ready, unavailable] }
        redis: { type: string, enum: [ready, unavailable] }
    RevokePlatformSessionRequest:
      type: object
      additionalProperties: false
      required: [expected_active]
      properties:
        expected_active: { type: boolean, const: true }
    UpdatePlatformAccessRequest:
      type: object
      additionalProperties: false
      required: [expected_revision, status, grants]
      properties:
        expected_revision: { type: integer, minimum: 1 }
        status: { type: string, enum: [active, suspended, deleted] }
        grants: { type: array, maxItems: 50, items: { $ref: "#/components/schemas/PlatformAccessGrantInput" } }
    PlatformOperationResult:
      type: object
      additionalProperties: false
      required: [operation, status]
      properties:
        operation: { type: string, enum: [session_revoke, access_update] }
        status: { type: string, enum: [succeeded, unknown] }
        resource_id: { type: string, format: uuid }
        resource_version: { type: integer, minimum: 1 }
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Unauthorized:
      description: Missing, invalid, expired, frozen, or revoked Session
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Forbidden:
      description: Required permission or Scope is missing
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Conflict:
      description: Authorization code or idempotency conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: Platform resource does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ServiceUnavailable:
      description: Platform Core or transient coordination is unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
