openapi: 3.1.0
info:
  title: HENU Kit Platform Core API
  version: 0.5.0
  description: |
    HENU Kit 平台核心接口草案。平台核心负责统一账户、会话、授权码、事件、通知、邮件、服务认证和指标；不保存资料、题目或作答数据。
servers:
  - url: https://account.henukit.cn/api/v1
    description: Production account origin
  - url: http://localhost:8081/api/v1
    description: Local development

security: []

tags:
  - name: Health
  - name: Verification
  - name: Authorization
  - name: Sessions
  - name: Operations Inbox
    description: Cross-product work coordination metadata and immutable source-resource references.
  - name: Internal Events

paths:
  /healthz:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Liveness probe
      responses:
        "200":
          description: Process is alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /readyz:
    get:
      tags: [Health]
      operationId: getReadiness
      summary: Readiness probe
      responses:
        "200":
          description: Dependencies are ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /auth/email-codes:
    post:
      tags: [Verification]
      operationId: requestVerificationCode
      summary: 请求学生邮箱验证码
      parameters:
        - $ref: "#/components/parameters/RequiredIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, purpose]
              properties:
                email:
                  type: string
                  format: email
                purpose:
                  type: string
                  enum: [login, bind_email, security]
                client_id:
                  type: string
      responses:
        "202":
          description: Request accepted for queued processing; this is not proof of provider acceptance or delivery
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [expires_at, resend_after]
                        properties:
                          expires_at:
                            type: string
                            format: date-time
                          resend_after:
                            type: string
                            format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /auth/email-codes/verify:
    post:
      tags: [Verification]
      operationId: verifyVerificationCode
      summary: 验证学生邮箱验证码
      parameters:
        - $ref: "#/components/parameters/RequiredIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code, purpose]
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  minLength: 6
                  maxLength: 10
                purpose:
                  type: string
                  enum: [login, bind_email, security]
                login_intent_id:
                  type: string
      responses:
        "200":
          description: Verification succeeded
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [verification_id]
                        properties:
                          verification_id:
                            type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /mail/deliveries:
    post:
      tags: [Verification]
      operationId: recordMailDelivery
      summary: Record an authenticated provider delivery receipt
      security:
        - mailDeliveryHmac: []
      parameters:
        - $ref: "#/components/parameters/KeyId"
        - $ref: "#/components/parameters/Timestamp"
        - $ref: "#/components/parameters/Nonce"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [message_id, status]
              properties:
                message_id:
                  type: string
                  minLength: 1
                  maxLength: 200
                status:
                  type: string
                  const: delivered
      responses:
        "202":
          description: Delivery receipt accepted; repeated or unknown message IDs are not disclosed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [accepted]
                        properties:
                          accepted:
                            type: boolean
                            const: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /oauth/token:
    post:
      tags: [Authorization]
      operationId: exchangeAuthorizationCode
      summary: 业务站后端交换一次性授权码
      security:
        - clientSecret: []
          serviceHmac: []
      parameters:
        - $ref: "#/components/parameters/RequiredIdempotencyKey"
        - $ref: "#/components/parameters/ServiceId"
        - $ref: "#/components/parameters/KeyId"
        - $ref: "#/components/parameters/Timestamp"
        - $ref: "#/components/parameters/Nonce"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [grant_type, code, redirect_uri, client_id, code_verifier]
              properties:
                grant_type:
                  type: string
                  const: authorization_code
                code:
                  type: string
                redirect_uri:
                  type: string
                  format: uri
                client_id:
                  type: string
                code_verifier:
                  type: string
      responses:
        "200":
          description: Authorization code exchanged
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [user, session_exchange_token, expires_at]
                        properties:
                          user:
                            $ref: "#/components/schemas/PlatformUser"
                          session_exchange_token:
                            type: string
                            description: Short-lived token for the requesting backend only; never place in URL or browser storage.
                          expires_at:
                            type: string
                            format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /oauth/authorize:
    get:
      tags: [Authorization]
      operationId: authorizeOAuthClient
      summary: 账户中心为已登录用户签发短期单次授权码
      description: |
        Requires the host-only Core Session cookie. The callback must exactly match a registered HTTPS URI,
        PKCE is S256-only, and the authorization code is returned once in the callback URL.
      security:
        - coreSession: []
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            const: code
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
        - name: state
          in: query
          required: true
          schema:
            type: string
            minLength: 8
        - name: code_challenge
          in: query
          required: true
          schema:
            type: string
            minLength: 43
            maxLength: 43
        - name: code_challenge_method
          in: query
          required: true
          schema:
            type: string
            const: S256
      responses:
        "302":
          description: Redirect to the exact registered callback with code and preserved state
          headers:
            Location:
              required: true
              schema:
                type: string
                format: uri
            Set-Cookie:
              description: Reissues the unextended `__Host-henukit_core_session` cookie with HttpOnly, Secure, SameSite=Lax and Path=/; Domain is omitted.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /sessions/revoke:
    post:
      tags: [Sessions]
      operationId: revokeSession
      summary: 撤销当前或指定平台会话
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id:
                  type: string
                all_sessions:
                  type: boolean
                  default: false
      responses:
        "200":
          description: Session revoked or already revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /authorization/check:
    post:
      tags: [Authorization]
      operationId: checkAuthorization
      summary: 根据服务端权限授权与 Scope 判定管理请求
      description: |
        The request carries a server-held client-exchange Session token over the authenticated backend channel. Platform Core derives roles and grants
        from PostgreSQL and ignores caller-supplied role or isAdmin claims. Decisions default to deny.
        Account, role-grant and Session revocation must affect checks within 30 seconds; this API does not
        permit an authorization cache with a longer lifetime.
      security:
        - clientSecret: []
          serviceHmac: []
      parameters:
        - $ref: "#/components/parameters/ServiceId"
        - $ref: "#/components/parameters/KeyId"
        - $ref: "#/components/parameters/Timestamp"
        - $ref: "#/components/parameters/Nonce"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthorizationCheckRequest"
      responses:
        "200":
          description: Permission and Scope are both granted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthorizationDecision"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /operations-inbox/items:
    get:
      tags: [Operations Inbox]
      operationId: listOperationsInboxItems
      summary: List cross-product work references within one granted product Scope
      description: Returns coordination metadata and source resource references only; product-owned title, body and feedback text are never copied here.
      security:
        - clientSecret: []
          serviceHmac: []
      parameters:
        - $ref: "#/components/parameters/ServiceId"
        - $ref: "#/components/parameters/KeyId"
        - $ref: "#/components/parameters/Timestamp"
        - $ref: "#/components/parameters/Nonce"
        - $ref: "#/components/parameters/SessionExchangeToken"
        - name: product_code
          in: query
          required: true
          schema:
            type: string
            pattern: '^[a-z][a-z0-9-]{1,63}$'
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [open, in_progress, blocked, resolved, cancelled]
      responses:
        "200":
          description: Scoped Operations Inbox items
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/OperationsInboxItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      tags: [Operations Inbox]
      operationId: createOperationsInboxItem
      summary: Create a cross-product work reference
      security:
        - clientSecret: []
          serviceHmac: []
      parameters:
        - $ref: "#/components/parameters/ServiceId"
        - $ref: "#/components/parameters/KeyId"
        - $ref: "#/components/parameters/Timestamp"
        - $ref: "#/components/parameters/Nonce"
        - $ref: "#/components/parameters/SessionExchangeToken"
        - $ref: "#/components/parameters/RequiredIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOperationsInboxItemRequest"
      responses:
        "201":
          description: Created, or the original response for the same idempotent request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/OperationsInboxItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /operations-inbox/items/{item_id}/updates:
    post:
      tags: [Operations Inbox]
      operationId: updateOperationsInboxItem
      summary: Update assignment or workflow metadata using an optimistic version
      security:
        - clientSecret: []
          serviceHmac: []
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/ServiceId"
        - $ref: "#/components/parameters/KeyId"
        - $ref: "#/components/parameters/Timestamp"
        - $ref: "#/components/parameters/Nonce"
        - $ref: "#/components/parameters/SessionExchangeToken"
        - $ref: "#/components/parameters/RequiredIdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOperationsInboxItemRequest"
      responses:
        "200":
          description: Updated, or the original response for the same idempotent request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/OperationsInboxItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Item not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /internal/events:
    post:
      tags: [Internal Events]
      operationId: publishBusinessEvent
      summary: 业务服务提交标准事件
      security:
        - serviceHmac: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - name: X-HENU-Service-Id
          in: header
          required: true
          schema:
            type: string
        - name: X-HENU-Timestamp
          in: header
          required: true
          schema:
            type: string
        - name: X-HENU-Nonce
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventEnvelope"
      responses:
        "202":
          description: Event accepted or already accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

components:
  securitySchemes:
    coreSession:
      type: apiKey
      in: cookie
      name: __Host-henukit_core_session
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
    clientSecret:
      type: http
      scheme: basic
    serviceHmac:
      type: apiKey
      in: header
      name: X-Signature
    mailDeliveryHmac:
      type: apiKey
      in: header
      name: X-Signature

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: Required for retryable writes that can produce durable side effects.
      schema:
        type: string
        minLength: 8
        maxLength: 200
    RequiredIdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 200
    ServiceId:
      name: X-Service-Id
      in: header
      required: true
      schema:
        type: string
    KeyId:
      name: X-Key-Id
      in: header
      required: true
      schema:
        type: string
    Timestamp:
      name: X-Timestamp
      in: header
      required: true
      schema:
        type: string
    Nonce:
      name: X-Nonce
      in: header
      required: true
      schema:
        type: string
    SessionExchangeToken:
      name: X-Session-Exchange-Token
      in: header
      required: true
      description: Short-lived server-held client exchange Session token; never exposed as a browser token.
      schema:
        type: string
        minLength: 32


  schemas:
    RequestId:
      type: string
      pattern: '^req_[A-Za-z0-9_-]+$'

    SuccessEnvelope:
      type: object
      required: [data, request_id]
      properties:
        data: {}
        request_id:
          $ref: "#/components/schemas/RequestId"

    ErrorObject:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          pattern: '^[A-Z0-9_]+$'
        message:
          type: string
        details:
          type: [object, "null"]
          additionalProperties: true

    ErrorEnvelope:
      type: object
      required: [error, request_id]
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"
        request_id:
          $ref: "#/components/schemas/RequestId"

    PlatformUser:
      type: object
      required: [user_id, email_verified, status, created_at]
      properties:
        user_id:
          type: string
        email_verified:
          type: boolean
        status:
          type: string
          enum: [active, suspended, deleted]
        created_at:
          type: string
          format: date-time

    AuthorizationCheckRequest:
      type: object
      additionalProperties: false
      required: [session_exchange_token, permission_code, scope]
      properties:
        session_exchange_token:
          type: string
          minLength: 32
        permission_code:
          type: string
          pattern: '^[a-z][a-z0-9]*(\.[a-z][a-z0-9_-]*)+$'
          minLength: 3
          maxLength: 120
        scope:
          $ref: "#/components/schemas/AuthorizationScope"

    AuthorizationScope:
      type: object
      additionalProperties: false
      required: [kind]
      properties:
        kind:
          type: string
          enum: [platform, product, resource]
        product_code:
          type: string
          pattern: '^[a-z][a-z0-9-]{1,63}$'
        resource_type:
          type: string
          pattern: '^[a-z][a-z0-9_-]{1,63}$'
        resource_id:
          type: string
          minLength: 1
          maxLength: 200
      oneOf:
        - properties:
            kind:
              const: platform
            product_code: false
            resource_type: false
            resource_id: false
        - required: [product_code]
          properties:
            kind:
              const: product
            product_code: {}
            resource_type: false
            resource_id: false
        - required: [product_code, resource_type, resource_id]
          properties:
            kind:
              const: resource
            product_code: {}
            resource_type: {}
            resource_id: {}
      discriminator:
        propertyName: kind

    AuthorizationDecision:
      type: object
      additionalProperties: false
      required: [allowed, actor_user_id, permission_code, scope, grant_id, authorization_revision, checked_at]
      properties:
        allowed:
          type: boolean
          const: true
        actor_user_id:
          type: string
          format: uuid
        permission_code:
          type: string
        scope:
          $ref: "#/components/schemas/AuthorizationScope"
        grant_id:
          type: string
          format: uuid
        authorization_revision:
          type: integer
          format: int64
          minimum: 1
        checked_at:
          type: string
          format: date-time

    OperationsInboxItem:
      type: object
      additionalProperties: false
      required: [id, source_product_code, source_resource_type, source_resource_id, priority, status, version, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        source_product_code:
          type: string
        source_resource_type:
          type: string
        source_resource_id:
          type: string
        source_resource_url:
          type: string
          format: uri
        owner_user_id:
          type: string
          format: uuid
        priority:
          type: string
          enum: [low, normal, high, urgent]
        sla_due_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [open, in_progress, blocked, resolved, cancelled]
        version:
          type: integer
          format: int64
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateOperationsInboxItemRequest:
      type: object
      additionalProperties: false
      required: [source_product_code, source_resource_type, source_resource_id, priority]
      properties:
        source_product_code:
          type: string
          pattern: '^[a-z][a-z0-9-]{1,63}$'
        source_resource_type:
          type: string
          pattern: '^[a-z][a-z0-9_-]{1,63}$'
        source_resource_id:
          type: string
          minLength: 1
          maxLength: 200
        source_resource_url:
          type: string
          format: uri
          maxLength: 1000
        owner_user_id:
          type: string
          format: uuid
        priority:
          type: string
          enum: [low, normal, high, urgent]
        sla_due_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [open, in_progress, blocked]

    UpdateOperationsInboxItemRequest:
      type: object
      additionalProperties: false
      required: [source_product_code, source_resource_type, source_resource_id, expected_version]
      properties:
        source_product_code:
          type: string
          pattern: '^[a-z][a-z0-9-]{1,63}$'
        source_resource_type:
          type: string
          pattern: '^[a-z][a-z0-9_-]{1,63}$'
        source_resource_id:
          type: string
          minLength: 1
          maxLength: 200
        expected_version:
          type: integer
          format: int64
          minimum: 1
        owner_user_id:
          type: string
          format: uuid
        clear_owner:
          type: boolean
        priority:
          type: string
          enum: [low, normal, high, urgent]
        sla_due_at:
          type: string
          format: date-time
        clear_sla:
          type: boolean
        status:
          type: string
          enum: [open, in_progress, blocked, resolved, cancelled]

    EventEnvelope:
      type: object
      required:
        - event_id
        - event_type
        - schema_version
        - occurred_at
        - producer
        - idempotency_key
        - payload
      properties:
        event_id:
          type: string
        event_type:
          type: string
          enum:
            - submission.received
            - submission.approved
            - submission.rejected
            - correction.resolved
            - points.credited
            - school_notice.created
            - school_notice.updated
        schema_version:
          type: integer
          minimum: 1
        occurred_at:
          type: string
          format: date-time
        producer:
          type: string
        subject_user_id:
          type: [string, 'null']
        idempotency_key:
          type: string
        payload:
          type: object
          additionalProperties: true

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Forbidden:
      description: Permission or Scope is not granted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Conflict:
      description: State conflict or replay
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    TooManyRequests:
      description: Verification attempt rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ServiceUnavailable:
      description: Dependency unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
